<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{#if adminRoute}}
  <link rel="stylesheet" href="/stylesheets/admin.css">
  {{else if theaterRoute}}
  <link rel="stylesheet" href="/stylesheets/theater.css">
  {{/if}}
</head>

<body>
  {{#if adminRoute}}
  {{>admin-header}}
  {{else if theaterRoute}}
  {{>theater-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  {{!-- <div class="main-contents">
    {{#if admin}}
    {{>admin-sidebar}}
    {{/if}}
    {{{body}}}
  </div> --}}
  {{{body}}}
</body>

</html>