<!DOCTYPE html>
<html lang="en">

</html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://kit.fontawesome.com/0bbadf09f7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{#if adminRoute}}
  <link rel="stylesheet" href="/stylesheets/admin.css" />
  {{else if theaterRoute}}
  <link rel="stylesheet" href="/stylesheets/theater.css" />
  {{/if}}
</head>

<body>
  {{#if adminRoute}}
  {{>admin-header}}
  {{else if theaterRoute}}
  {{>theater-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  <div class="main-body">
    {{#if admin}}
    {{>admin-sidebar}}
    {{/if}}
    {{{body}}}
  </div>
</body>

</html>