<div class="user-parent">
    <div class="banner">
        <img src="https://d2kektcjb0ajja.cloudfront.net/images/posts/feature_images/000/000/072/large-1466557422-feature.jpg?1466557422"
            alt="" class="movie-background">
        <img src="https://d2kektcjb0ajja.cloudfront.net/images/posts/feature_images/000/000/072/large-1466557422-feature.jpg?1466557422"
            alt="" class="movie-poster">
        <div class="movie-info">
            <h2>{{movie.title}}</h2>
            <h4>ENG (U/A)</h4>
            <h4>Sci-Fi</h4>
            <h4>Runtime: 2Hr 30Min</h4>
            <h4>{{movie.director}}</h4>
            <h4>Cast: {{movie.cast}}</h4>
        </div>
    </div>
    {{!-- {{#each theaters}}
    <a href="">{{this._id.name}}</a>
    <h2>{{this._id.name}}</h2>
    {{#each this.screens}}
    <h3>{{this.name}}</h3>
    {{#each this.shows}}
    <h5>{{this.showStartTime}}</h5>
    {{/each}}
    {{/each}}
    {{/each}} --}}
    {{#each shows}}
    <a href="/show/{{this._id}}">
        <h3>{{this.showStartTime}}</h3>
    </a>
    {{/each}}
</div>