<section class="theater-parent movie-management-parent">
    <div class="content-card">
        <div class="theater-headings">
            <div class="theater-header-selector"></div>
            <h2>Now Showing Movies</h2>
        </div>
        <div class="movie-management-links-container">
            <a href="/theater/movie/add-movie">Add movies</a><a href="">Upcoming</a>
        </div>
        <div id="movie-delete-dialogue" class="movie-delete-dialogue">
            <h3>Are you sure ?</h3>
            <div class=""><a id="movie-delete-confirm-yes" href="" class="theater-owner-table-button">YES</a>
                <a href="" onclick="closeConfirmDialogue(event)" class="theater-owner-table-button">NO</a></div>
        </div>
        <table class="owner-movie-table">
            <tr>
                <th>No</th>
                <th>Movie Name</th>
                <th>Release date</th>
                <th>Runtime</th>
                <th>Actions</th>
            </tr>
            {{#each movies}}
            <tr>
                <td>1</td>
                <td>{{this.title}}</td>
                <td>{{this.release}}</td>
                <td>{{this.runtimeHr}}Hr {{this.runtimeMin}}Min</td>
                <td><a href="/theater/movie/edit-movie/{{this._id}}">EDIT</a><a
                        onclick="openConfirmDialogue(event, '{{this._id}}')" href="">DELETE</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>
{{!-- Scripts --}}
<script>
    setActiveTab("movie-management");
    const openConfirmDialogue = (e, id) => {
        e.preventDefault();
        document.getElementById("movie-delete-dialogue").style.display = "flex";
        document.getElementById("movie-delete-confirm-yes").href = `/theater/movie/delete-movie/${id}`
    }
    const closeConfirmDialogue = (e) => {
        e.preventDefault();
        document.getElementById("movie-delete-dialogue").style.display = "none";
    }
</script>